<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1}]')
 });
 </script>

<div class="gridster">
  <ul>

    <li data-row="3" data-col="1" data-sizex="5" data-sizey="500">
      <div data-id="changelog" data-view="Changelog" data-title="This is where the changelog will be displayed" data-moreinfo="I dont think i will put anything here">>:(</div>
    </li>
  </ul>
</div>